<mj-section padding="0 0 15px 30px" background-color="#FFFFFF">
  <mj-column>
    <mj-text align="left" font-weight="400" font-size="12px" padding="0px">Статус заказа
      <a href="https://suworld.ru/" style="color: #005DE2;">{{orderId}}</a>
      изменён на
      <span style="color: #8FBA14">{{orderStatus}}</span>.
    </mj-text>
  </mj-column>
</mj-section>
<mj-section padding="0 0 15px 30px" background-color="#FFFFFF">
  <mj-column>
    <mj-text align="left" font-weight="400" font-size="12px" padding="0px">Помогите другим покупателям с выбором,
      оставьте свой отзыв.
    </mj-text>
  </mj-column>
</mj-section>
<mj-section background-color="#FFFFFF" padding="0 0 15px 30px">
  <mj-column>
    <mj-text align="left" font-weight="600" font-size="14px" padding="0px">Недавно Вы заказывали товары:
    </mj-text>
  </mj-column>
</mj-section>
